.About-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.About-content-container {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.About-title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

.About-subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.About-content {
    font-size: 1rem;
    line-height: 1.5;
}



.About-image-container {
    height: 100%;
    width: 100vh;
    display: flex;
    margin: 2.5rem;
    margin-left: 0;
}

.About-image {
    width: clamp(120px, 25vw, 300px);
    height: auto;
    border-radius: 15px;
    display: flex;
    transition: width 0.2s;
    max-width: 100%;
}
